<div class="container" (wheel)="sliderAction($event)">
  <div
    class="img-container"
    *ngFor="let i of sliderArray; let select = index"
    [ngClass]="{ selected: select == selectedIndex }">
    <img src="{{ i.img }}" alt="{{ i.alt }}" />
  </div>
</div>

<div class="slider">
  <div
    class="slide-button-parent-container"
    *ngFor="let i of sliderArray; let x = index"
    (click)="selected(x)">
    <div class="select-box">
      <div
        class="slide-button"
        [ngClass]="{ 'slide-button-select': x == selectedIndex }"></div>
    </div>
  </div>
</div>
