<div id="slider" class="container" (wheel)="sliderAction($event)">
  <div class="img-container">
    <div
      class="slide active"
      *ngFor="let i of slideElements; let select = index"
      (click)="goTo.emit(i.title)">
      <div
        class="card"
        [id]="'card' + select"
        *ngIf="select === selectedIndex"
        [ngStyle]="{ 'background-image': 'url(' + i.img + ')' }">
        <div class="card__content">
          <h2 class="card__content-header">{{ i.title }}</h2>
          <p class="card__content-paragraph">
            {{ i.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="slider">
    <div
      class="slide-button-parent-container"
      *ngFor="let i of slideElements; let x = index"
      (click)="selected(x)">
      <div class="select-box">
        <div
          class="slide-button"
          [ngClass]="{ 'slide-button-select': x == selectedIndex }"></div>
      </div>
    </div>
  </div>
</div>
