<div id="detail-container" *ngIf="!!bundleSelected">
  <header
    id="header-banner"
    [ngStyle]="{ background: 'url(' + bundleSelected.img + ')' }">
    <h2 id="bundleTitle">{{ bundleSelected.name | titlecase }}</h2>
    <h5 id="bundleDescription">{{ bundleSelected.description }}</h5>
  </header>
  <section id="slides">
    <article
      class="slide"
      data-aos="fade-up"
      *ngFor="let slide of bundleSelected.slides; let i = index"
      [ngClass]="{
        left: slide.position === 'left',
        center: slide.position === 'center',
        right: slide.position === 'right',
      }"
      [id]="'slide' + i">
      <div class="information">
        <div class="column1">
          <h3 class="title">
            {{ slide.title }}
          </h3>
          <p class="description">
            {{ slide.description }}
          </p>
        </div>
        <div class="column2">
          <img [src]="slide.img" [alt]="slide.title" />
        </div>
      </div>

      <div class="actions">
        <app-button [label]="'Budget It!'" />
      </div>
    </article>
  </section>
</div>
