<mat-form-field class="input-field" [formGroup]="formGroup">
  <mat-label>{{ label | translate }}</mat-label>
  <input
    matInput
    [formControlName]="formControlName"
    [formControl]="valueControl"
    (blur)="onTouched()"
    (input)="onTouched()"
    [id]="id"
    [matDatepicker]="picker"
  />
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  @if (valueControl.hasError('required')) {
  <mat-error>{{ "questions.required_error" | translate }}</mat-error>
  } @if (valueControl.hasError('invalid')) {
  <mat-error>{{ errorMessage | translate }}</mat-error>
  }
</mat-form-field>
