<div id="information">
  <h2 id="title">About Us</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dui nibh,
    rhoncus ut tristique nec, ullamcorper ut nunc. Donec scelerisque vulputate
    ipsum, ut dapibus nisl lobortis pretium. Curabitur nec tristique ex. Duis
    dignissim, libero non varius porttitor, sapien massa ultrices nibh, vel
    porta libero nibh et velit. Morbi efficitur accumsan ligula, nec placerat
    urna egestas sed. Mauris non malesuada quam, ac feugiat sapien. Aenean non
    placerat est. Cras fringilla sit amet nisl nec faucibus. Maecenas justo ex,
    placerat et libero sed, elementum vulputate enim.
  </p>
</div>
<form id="mailContainer" [formGroup]="emailForm">
  <app-input-text
    [required]="true"
    [id]="'email'"
    [formControlName]="'email'"
    [formGroup]="emailForm"
    [label]="'email'"
    [errorMessage]="'error'"></app-input-text>
  <app-input-textarea
    [required]="true"
    [id]="'message'"
    [formControlName]="'text'"
    [formGroup]="emailForm"
    [label]="'message'"
    [errorMessage]="'error'"></app-input-textarea>
  <div>
    <!-- <div id="captcha">
      <re-captcha
        (resolved)="sendCaptcha()"
        [siteKey]="_environment.TOKEN_CAPTCHA"></re-captcha>
    </div> -->
    <app-button [label]="'Send'" (click)="checkForm()"></app-button>
  </div>
</form>
