// material components colors
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
}
// material components colors
::ng-deep mat-form-field {
  width: 100%;
  .mdc-floating-label,
  .mat-mdc-floating-label label {
    font-size: 30px !important;
    font-weight: bolder;
  }
  .mdc-floating-label--float-above {
    font-size: 20px !important;
    font-weight: bolder;
  }

  input {
    font-size: 30px !important;
  }
}
