<mat-form-field class="input-field" [formGroup]="formGroup">
  <mat-label> {{ label | translate }} </mat-label>
  <input
    matInput
    [type]="type"
    [id]="id"
    type="number"
    [formControl]="valueControl"
    [formControlName]="formControlName"
    (blur)="onTouched()"
    (input)="onTouched()"
  />
  @if (valueControl.hasError('required')) {
  <mat-error>{{ "questions.required_error" | translate }}</mat-error>
  } @if (valueControl.hasError('max')) {
  <mat-error>{{ errorMessage | translate }}</mat-error>
  }
</mat-form-field>
