#home {
  margin: 0 auto;
  width: 100%;
  margin: 0 auto;
  #background {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    filter: grayscale(50%);
  }
  #mainInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #mainTitle {
      z-index: 1000;
      margin: 0 auto;
      font-size: 100px;
      position: relative;
    }
    #description {
      width: 50%;
      z-index: 1000;
      margin: 0 auto;
      font-size: 50px;
      position: relative;
    }
  }
}
