<div [ngSwitch]="formFulfilled">
  <div *ngSwitchCase="false" @globalInOut>
    <form class="container" [formGroup]="_budgetForm.structure">
      <div [ngSwitch]="formStarted" @inOutInformation>
        <div id="information" *ngSwitchCase="false" @inOutInformation>
          <h2 id="title">What about our budget</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
            magna justo, imperdiet ut nibh at, ultricies porttitor lorem.
            Suspendisse potenti. Duis imperdiet eros turpis, et ultrices mauris
            porta nec. Interdum et malesuada fames ac ante ipsum primis in
            faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Aenean erat dui, aliquam tincidunt lobortis non, sodales quis velit.
            Vestibulum nec porta nulla. Vivamus porttitor felis vel dictum
            aliquam. Fusce ut dolor aliquam, hendrerit lorem at, tincidunt nisl.
            Cras blandit justo id auctor convallis. Maecenas nec orci tincidunt.
          </p>
        </div>
        <div id="questions" *ngSwitchCase="true" @inOutInformation>
          <div *ngFor="let question of getQuestion; let i = index">
            <div
              id="question"
              *ngIf="position == i"
              [@inOutIndividualQuestionAnimation]="position !== i"
            >
              <div id="questionInformation">
                <h2 id="questionTitle">
                  {{ "questions." + question.question | translate }}
                </h2>
                <p id="questionDescription">
                  {{ "questions.information" + (position + 1) | translate }}
                </p>
              </div>
              <app-input-select
                *ngIf="_formService.isInputSelector(question.question)"
                class="input"
                [required]="question.required"
                [id]="question.question"
                [formControlName]="question.question"
                [formGroup]="_budgetForm.structure"
                [label]="'questions.' + question.question"
                [options]="question.options ? question.options : []"
                [errorMessage]="question.errorMessage"
              ></app-input-select>
              <app-input-number
                *ngIf="_formService.isInputNumber(question.question)"
                class="input"
                [required]="question.required"
                [id]="question.question"
                [formControlName]="question.question"
                [formGroup]="_budgetForm.structure"
                [label]="'questions.' + question.question"
                [errorMessage]="question.errorMessage"
              ></app-input-number>
              <app-input-text
                *ngIf="_formService.isInputText(question.question)"
                class="input"
                [required]="question.required"
                [id]="question.question"
                [formControlName]="question.question"
                [formGroup]="_budgetForm.structure"
                [label]="'questions.' + question.question"
                [errorMessage]="question.errorMessage"
              ></app-input-text>
              <app-input-date
                *ngIf="_formService.isInputDate(question.question)"
                class="input"
                [required]="question.required"
                [id]="question.question"
                [formControlName]="question.question"
                [formGroup]="_budgetForm.structure"
                [label]="'questions.' + question.question"
                [errorMessage]="question.errorMessage"
              ></app-input-date>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div id="actions">
      <app-button
        @inOutInformation
        *ngIf="formStarted"
        (click)="previous(position)"
        [label]="'previous'"
        [color]="'accent'"
      ></app-button>
      <app-button
        @inOutInformation
        *ngIf="position < getQuestion.length - 1 && formStarted"
        (click)="checkAnswer(getQuestion[position].question, position)"
        [color]="'primary'"
        [label]="'next'"
      ></app-button>
      <app-button
        @inOutInformation
        *ngIf="position < getQuestion.length - 1 && !formStarted"
        (click)="startForm()"
        [color]="'primary'"
        [label]="'start'"
      ></app-button>
      <app-button
        @inOutInformation
        *ngIf="position === getQuestion.length - 1 && formStarted"
        (click)="fulfillForm()"
        [color]="'primary'"
        [label]="'finish'"
      ></app-button>
    </div>
  </div>
  <div *ngSwitchCase="true" @globalInOut>
    <div [ngSwitch]="formSubmitted">
      <div class="resumeContainer" *ngSwitchCase="false" @inOutInformation>
        <h2>Your Answers</h2>
        <div class="answersInformation" id="answersFirstSection">
          <mat-grid-list
            id="gridListFirstAnswers"
            [cols]="getBreakpoint"
            rowHeight="30px"
            colsWidth="50%"
            [formGroup]="_budgetForm.structure"
            (window:resize)="checkWindowSize($event)"
          >
            <span *ngFor="let question of getFulfilledQuestion; let i = index">
              <mat-grid-tile [colspan]="1" [rowspan]="3">
                <div id="question" (click)="goToThisAnswer(i)">
                  <tr>
                    <th>
                      {{ "questions." + question.question | translate }}
                    </th>
                  </tr>
                  <tr>
                    <td>
                      {{ question.answer.value }}
                    </td>
                  </tr>
                </div>
              </mat-grid-tile>
            </span>
          </mat-grid-list>
        </div>

        <div id="submitActions">
          <app-button
            (click)="goToThisAnswer(0)"
            [label]="'Check answers'"
          ></app-button>
          <app-button
            [color]="'primary'"
            [label]="'submit'"
            (click)="submitForm()"
          ></app-button>
        </div>
      </div>
      <div
        id="budgetContainer"
        *ngSwitchCase="true"
        @inOutInformation
        [ngSwitch]="loading"
      >
        <app-loader *ngSwitchCase="true" [loading]="loading"></app-loader>
        <article *ngSwitchCase="false" id="budgetModal">
          <section id="budgetTitle">
            <h2>
              {{
                _budgetForm.structure.controls["question17"].value | titlecase
              }}'s Budget
            </h2>
          </section>
          <section id="budgetInformation">
            <div id="budgetBasicInformation">
              <div id="budgetDetails">
                <span class="detail">
                  <label for=""
                    >Nº People <i class="fa-solid fa-people-group"></i
                  ></label>
                  <span><i class="fa-solid fa-person"></i> * 8</span>
                </span>
                <span class="detail">
                  <label for=""
                    >Children <i class="fa-solid fa-children"></i
                  ></label>
                  <span><i class="fa-solid fa-child-reaching"></i> * 2</span>
                </span>
                <label for="">Label1</label>
                <span>asdasdadsa</span>
                <label for="">Label1</label>
                <span>asdasdadsa</span>
              </div>
              <div id="budgetMainPrice">$ {{ budgetPrice }}</div>
            </div>

            <div id="budgetExpensuresInformation"></div>
          </section>
        </article>
      </div>
    </div>
  </div>
</div>
