.container {
  padding: 100px 0px 0px;
  width: 80% !important;
  margin: 0 auto;
}
#questions {
  margin-top: 50px;
  width: 100%;
  #question {
    width: 100%;
    #questionInformation {
      #questionTitle {
        font-size: 50px;
      }
      #questionDescription {
        font-size: 25px;
        padding: 10px 0 20px;
      }
    }
  }
}
#actions {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 auto;
}
#information {
  #title {
    font-size: 50px;
  }
  p {
    font-size: 25px;
    letter-spacing: 2.5px;
  }
}
