#question {
  width: 100%;
}
.container {
  padding: 100px 0;
  width: 80% !important;
  margin: 0 auto;
}
#questions {
  margin-top: 50px;
  width: 100%;
}
#actions {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 auto;
}
#information {
  p {
    font-size: 25px;
    letter-spacing: 2.5px;
  }
}
