@import 'src/variables.scss';

.container {
  padding: 8% 0px 0px;
  width: 80% !important;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  #actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 auto;
    padding: 30px 0 5%;
  }
}
#questionaire,
#resume {
  padding: 0 0 3%;
  min-height: 60vh;
}

#information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  #title {
    font-size: 25px;
    color: $secondary;
    letter-spacing: 2.5px;
  }
  p {
    font-size: 15px;
    letter-spacing: 2.5px;
  }
}
#questions {
  width: 100%;

  #question {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    #questionInformation {
      #questionTitle {
        font-size: 25px;
        letter-spacing: 2.5px;

        color: $secondary;
      }
      #questionDescription {
        font-size: 15px;
        padding: 10px 0 20px;
        letter-spacing: 2.5px;
      }
    }
    app-input-select,
    app-input-number,
    app-input-text,
    app-input-date {
      width: 100%;
    }
  }
}

.resumeContainer {
  width: 70%;
  border-radius: 40% 40% 0 0;
  padding: 0% 15%;
  margin: 0 auto;
  margin-top: 3%;
  display: flex;
  justify-self: center;
  align-self: center;
  flex-direction: column;
  background-image: linear-gradient(180deg, $third 1%, $primary 90%);
  h2 {
    margin: 0 auto;
    margin-top: 5%;
    font-size: 25px;
    padding: 5% 7% 7%;
  }

  .answersInformation {
    display: flex;
    flex-direction: row;

    #gridListFirstAnswers {
      width: 100%;
      span {
        mat-grid-tile {
          ::ng-deep .mat-grid-tile-content {
            right: auto !important;
            width: 100%;
          }

          #question {
            display: flex;
            align-self: flex-start;
            justify-self: flex-start;
            flex-direction: column;
            padding: 0px 5px;
            transition: 0.1s;
            width: 90%;
            tr {
              transition: 0.1s;
              font-size: 15px;
              font-weight: 400;
              th,
              td {
                text-align: left;
              }
            }
          }

          #question:hover {
            padding: 5px;
            transition: 0.1s;
            cursor: pointer;
            tr {
              font-size: 16px;
              font-weight: 400;
              transition: 0.1s;
            }
          }
        }
      }
    }
  }

  #submitActions {
    margin: 0 auto;
    display: flex;
    padding: 50px 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}

#budgetContainer {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 100px 0px;
  #budgetModal {
    margin: 0 auto;
    width: 60%;
    max-height: 90%;
    height: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    #budgetTitle {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;
      width: 100%;
      margin: 0;
      h2 {
        padding: 30px 10px 30px 0px;
        font-size: 40px;
        color: $secondary;
        margin: 0%;
      }
    }
    #budgetInformation {
      display: flex;
      flex-direction: column;
      width: 100%;
      #budgetBasicInformation {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 0;

        .detail {
          display: flex;
          flex-direction: column;
          ::ng-deep .mat-grid-tile-content {
            display: flex;
            flex-direction: column;
            justify-content: flex-start !important;
            align-items: flex-start;
            h5 {
              padding: 0px 10px 5px 0px;
              margin: 0;
            }
            span {
              padding: 0px 10px 5px 0px;
            }
          }
        }

        #budgetMainPrice {
          width: 100%;
          font-size: 100px;
        }
      }
      #budgetExpensesInformation {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        .expenseColumn {
          display: flex;
          flex-direction: column;
          width: 20%;
          height: 100%;
          h3 {
            margin: 0;
          }
          .expense {
            display: flex;
            flex-direction: column;
            padding: 10px 0 0;
            h5 {
              margin: 0;
            }
          }
          hr {
            height: auto;
            width: 100%;
            border: 1px solid black;
          }
          h4 {
            padding: 0;
            margin: 0;
          }
        }
      }
    }
  }
  #loaderBudget {
    height: 100vh;
  }
}
@media (width <= 425px) {
  #actions {
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    padding: 0px 0;
    align-items: center;
    padding: 10px;
    app-button {
      margin: 0 auto;
      margin-top: 20px;
    }
  }
}
