<div [ngSwitch]="formFulfilled" id="page">
  <div *ngSwitchCase="false" @globalInOut>
    <form class="container" [formGroup]="_budgetForm.structure">
      <div [ngSwitch]="formStarted" @inOutInformation>
        <div id="information" *ngSwitchCase="false" @inOutInformation>
          <h2 id="title">What about our budget</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
            magna justo, imperdiet ut nibh at, ultricies porttitor lorem.
            Suspendisse potenti. Duis imperdiet eros turpis, et ultrices mauris
            porta nec. Interdum et malesuada fames ac ante ipsum primis in
            faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Aenean erat dui, aliquam tincidunt lobortis non, sodales quis velit.
            Vestibulum nec porta nulla. Vivamus porttitor felis vel dictum
            aliquam. Fusce ut dolor aliquam, hendrerit lorem at, tincidunt nisl.
            Cras blandit justo id auctor convallis. Maecenas nec orci tincidunt.
          </p>
        </div>
        <div id="questions" *ngSwitchCase="true" @inOutInformation>
          <div *ngFor="let question of getQuestion; let i = index">
            <div
              id="question"
              *ngIf="position == i"
              [@inOutIndividualQuestionAnimation]="position !== i"
            >
              <div id="questionInformation">
                <h2 id="questionTitle">
                  {{ "questions." + question.question | translate }}
                </h2>
                <p id="questionDescription">
                  {{ "questions.information" + (position + 1) | translate }}
                </p>
              </div>
              <app-input-select
                *ngIf="_formService.isInputSelector(question.question)"
                class="input"
                [required]="question.required"
                [id]="question.question"
                [formControlName]="question.question"
                [formGroup]="_budgetForm.structure"
                [label]="'questions.' + question.question"
                [options]="question.options ? question.options : []"
                [errorMessage]="question.errorMessage"
              ></app-input-select>
              <app-input-number
                *ngIf="_formService.isInputNumber(question.question)"
                class="input"
                [required]="question.required"
                [id]="question.question"
                [formControlName]="question.question"
                [formGroup]="_budgetForm.structure"
                [label]="'questions.' + question.question"
                [errorMessage]="question.errorMessage"
              ></app-input-number>
              <app-input-text
                *ngIf="_formService.isInputText(question.question)"
                class="input"
                [required]="question.required"
                [id]="question.question"
                [formControlName]="question.question"
                [formGroup]="_budgetForm.structure"
                [label]="'questions.' + question.question"
                [errorMessage]="question.errorMessage"
              ></app-input-text>
              <app-input-date
                *ngIf="_formService.isInputDate(question.question)"
                class="input"
                [required]="question.required"
                [id]="question.question"
                [formControlName]="question.question"
                [formGroup]="_budgetForm.structure"
                [label]="'questions.' + question.question"
                [errorMessage]="question.errorMessage"
              ></app-input-date>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div id="actions">
      <app-button
        @inOutInformation
        *ngIf="formStarted"
        (click)="previous(position)"
        [label]="'previous'"
        [color]="'accent'"
      ></app-button>
      <app-button
        @inOutInformation
        *ngIf="position < getQuestion.length - 1 && formStarted"
        (click)="checkAnswer(getQuestion[position].question, position)"
        [color]="'primary'"
        [label]="'next'"
      ></app-button>
      <app-button
        @inOutInformation
        *ngIf="position < getQuestion.length - 1 && !formStarted"
        (click)="startForm()"
        [color]="'primary'"
        [label]="'start'"
      ></app-button>
      <app-button
        @inOutInformation
        *ngIf="position === getQuestion.length - 1 && formStarted"
        (click)="fulfillForm()"
        [color]="'primary'"
        [label]="'finish'"
      ></app-button>
    </div>
  </div>
  <div *ngSwitchCase="true" @globalInOut>
    <div [ngSwitch]="formSubmitted">
      <div class="resumeContainer" *ngSwitchCase="false" @inOutInformation>
        <h2>Your Answers</h2>
        <div class="answersInformation" id="answersFirstSection">
          <mat-grid-list
            id="gridListFirstAnswers"
            [cols]="getBreakpoint"
            rowHeight="30px"
            colsWidth="50%"
            [formGroup]="_budgetForm.structure"
            (window:resize)="checkWindowSize($event)"
          >
            <span *ngFor="let question of getFulfilledQuestion; let i = index">
              <mat-grid-tile [colspan]="1" [rowspan]="3">
                <div id="question" (click)="goToThisAnswer(i)">
                  <tr>
                    <th>
                      {{ "questions." + question.question | translate }}
                    </th>
                  </tr>
                  <tr>
                    <td>
                      {{ question.answer.value }}
                    </td>
                  </tr>
                </div>
              </mat-grid-tile>
            </span>
          </mat-grid-list>
        </div>

        <div id="submitActions">
          <app-button
            (click)="goToThisAnswer(0)"
            [label]="'Check answers'"
          ></app-button>
          <app-button
            [color]="'primary'"
            [label]="'submit'"
            (click)="submitForm()"
          ></app-button>
        </div>
      </div>
      <div
        id="budgetContainer"
        *ngSwitchCase="true"
        @inOutInformation
        [ngSwitch]="loading"
      >
        <app-loader *ngSwitchCase="true" [loading]="loading"></app-loader>
        <article *ngSwitchCase="false" id="budgetModal">
          <section id="budgetTitle">
            <h2>
              {{ _budgetExpenses.data.name | titlecase }}
            </h2>
          </section>
          <section id="budgetInformation">
            <div id="budgetBasicInformation">
              <mat-grid-list
                [cols]="3"
                rowHeight="40px"
                (window:resize)="checkWindowSize($event)"
                id="budgetBasicInformation"
              >
                <mat-grid-tile class="detail" colspan="1" rowspan="2">
                  <h5>Nº People <i class="fa-solid fa-people-group"></i></h5>
                  <span
                    ><i class="fa-solid fa-person"></i> *
                    {{
                      _budgetExpenses.data.people -
                        (_budgetExpenses.data.child
                          ? _budgetExpenses.data.child
                          : 0)
                    }}</span
                  >
                </mat-grid-tile>
                <mat-grid-tile
                  *ngIf="_budgetExpenses.data.child"
                  class="detail"
                  colspan="1"
                  rowspan="2"
                >
                  <h5>Children <i class="fa-solid fa-children"></i></h5>
                  <span
                    ><i class="fa-solid fa-child-reaching"></i> *
                    {{ _budgetExpenses.data.child }}</span
                  >
                </mat-grid-tile>
                <mat-grid-tile class="detail" colspan="1" rowspan="2">
                  <h5>Duration <i class="fa-solid fa-calendar-days"></i></h5>
                  <span
                    ><i class="fa-regular fa-sun"></i> *
                    {{ _budgetExpenses.data.duration }}</span
                  >
                  <span
                    ><i class="fa-solid fa-moon"></i> *
                    {{ _budgetExpenses.data.duration - 1 }}</span
                  >
                </mat-grid-tile>
                <mat-grid-tile class="detail" colspan="1" rowspan="2">
                  <h5>Type <i class="fa-solid fa-plane"></i></h5>
                  <span>{{ _budgetExpenses.data.type }}</span>
                </mat-grid-tile>
                <mat-grid-tile class="detail" colspan="1" rowspan="2">
                  <h5>Destination <i class="fa-solid fa-globe"></i></h5>
                  <span>{{ _budgetExpenses.data.destination }}</span>
                </mat-grid-tile>
                <mat-grid-tile class="detail" colspan="1" rowspan="2">
                  <h5>When <i class="fa-solid fa-tree"></i></h5>
                  <span>{{ _budgetExpenses.data.season }}</span>
                </mat-grid-tile>
                <mat-grid-tile class="detail" colspan="1" rowspan="2">
                  <h5>Lodge <i class="fa-solid fa-bed"></i></h5>
                  <span>{{ _budgetExpenses.data.lodge }}</span>
                </mat-grid-tile>
                <mat-grid-tile class="detail" colspan="1" rowspan="2">
                  <h5>Transportation <i class="fa-solid fa-car"></i></h5>
                  <span>{{ _budgetExpenses.data.transportation }}</span>
                </mat-grid-tile>
              </mat-grid-list>
              <mat-grid-list [cols]="2" rowHeight="200px" id="budgetMainPrice">
                {{ _budgetExpenses.data.budget.total }}
              </mat-grid-list>
            </div>

            <div id="budgetExpensesInformation">
              <div class="expenseColumn" id="transportExpenses">
                <h3>Transport</h3>
                <div
                  class="expense"
                  *ngFor="
                    let expense of _budgetExpenses.data.budget.transportation
                      .expenses
                  "
                >
                  <h5>{{ expense.name }}</h5>
                  <span>{{ expense.value }}</span>
                </div>
                <hr class="line" />
                <h4 id="transportExpensesTotal">
                  Total: ${{ _budgetExpenses.data.budget.transportation.total }}
                </h4>
              </div>
              <div class="expenseColumn" id="lodgeExpenses">
                <h3>Lodge</h3>
                <div
                  class="expense"
                  *ngFor="
                    let expense of _budgetExpenses.data.budget.lodge.expenses
                  "
                >
                  <h5>{{ expense.name }}</h5>
                  <span>{{ expense.value }}</span>
                </div>
                <hr class="line" />
                <h4 id="lodgeExpensesTotal">
                  Total: ${{ _budgetExpenses.data.budget.lodge.total }}
                </h4>
              </div>
              <div class="expenseColumn" id="foodExpenses">
                <h3>Food</h3>
                <div
                  class="expense"
                  *ngFor="
                    let expense of _budgetExpenses.data.budget.food.expenses
                  "
                >
                  <h5>{{ expense.name }}</h5>
                  <span>{{ expense.value }}</span>
                </div>
                <hr class="line" />
                <h4 id="foodExpensesTotal">
                  Total: ${{ _budgetExpenses.data.budget.food.total }}
                </h4>
              </div>
              <div class="expenseColumn" id="tourExpenses">
                <h3>Activities</h3>
                <div
                  class="expense"
                  *ngFor="
                    let expense of _budgetExpenses.data.budget.activities
                      .expenses
                  "
                >
                  <h5>{{ expense.name }}</h5>
                  <span>{{ expense.value }}</span>
                </div>
                <hr class="line" />
                <h4 id="activitiesExpensesTotal">
                  Total: ${{ _budgetExpenses.data.budget.activities.total }}
                </h4>
              </div>
            </div>
          </section>
        </article>
      </div>
    </div>
  </div>
</div>
