@import "src/variables.scss";

footer {
  width: 100%;
  min-height: 15%;
  background-image: linear-gradient(0deg, $third 50%, $primary 100%);
  overflow-y: hidden;
  bottom: 0;
}

.foot--list {
  position: relative;
  height: 100%;
  padding: 2% 0px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

#copyright {
  color: $fourth;
  text-align: center;
}
