<mat-form-field class="input-field" [formGroup]="formGroup">
  <mat-label class="control-label required">{{ label | translate }} </mat-label>
  <mat-select
    matInput
    class="form-control"
    [id]="id"
    [formControl]="valueControl"
    [formControlName]="formControlName"
    [disabled]="disabled"
    ngDefaultControl
  >
    @for (option of options; track option) {
    <mat-option
      [disabled]="option.structure.disabled"
      [value]="option.structure.value"
      >{{ option.structure.label | translate }}</mat-option
    >
    }
  </mat-select>
  @if (valueControl.hasError('required')) {
  <mat-error>{{ "questions.required_error" | translate }}</mat-error>
  } @else {
  <mat-error>{{ errorMessage | translate }}</mat-error>
  }
</mat-form-field>
