@import "src/variables.scss";

#container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
  .loader {
    width: 100px;
    aspect-ratio: 1;
    box-shadow: 0 0 0 12px $third inset;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    animation: l6 1.5s linear infinite;
  }
  .loader:before {
    content: "";
    position: absolute;
    top: 100%;
    box-shadow: inherit;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
  }
  @keyframes l6 {
    to {
      transform: rotate(360deg);
    }
  }
}
