// Font Section
$font-family: 'Montserrat', sans-serif;
$font-h1-size: '';
$font-h2-size: '';
$font-h3-size: '';
$font-h4-size: '';
$font-h5-size: '';
$font-h6-size: '';
$primary: #eeecdd;
$secondary: #d58e26;
$third: #edc87a;
$fourth: #51496d;
$fifth: #8b919d;
$error: #b71c1c;
